.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.598);
  color: black;
  font-family: 'Arial', sans-serif;
  border-radius: 2px;
  width: 95.8%;
 
}

.navbar-brand {
  background-color: purple;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 3px;
  width: 190px;
  height: 40px;
  text-align: center;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navbar-links li button {
  background: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
  font-size: 1rem;
  transition: color 0.2s; 
}

.navbar-links li button:hover {
  color: rgb(245, 39, 245);
  background-color: purple; 
   width: auto;
  
  border-radius: 3px;
}



hr{
  border: none;              
  height: 2px;              
  background-color: #e0e0e0; 
  margin: 2rem 0;
  border-radius: 2px;        
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
@media (min-width: 769px) {
  .menu-icon {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    
  }
  
  .navbar-links {
   display: none;
  }
  .menu-icon{
    color: purple;
    display: block;
    position: relative;
    margin-top: -7.5%;
    margin-left: 85%;
    width: 30px;
  height: 30px;
  cursor: pointer;
   border: 3px solid purple;
  border-radius: 8px;
  }
  .mobile-links li button{
    color: purple;
     list-style: none;
     background:none;
  display: flex;
  flex-direction: column;
  gap: 2;
 
  border: none;
  font-weight: 500;
  cursor: pointer;
  font-size: 1rem;
  transition: color 0.2s; 
  }
  .navbar-brand {
   
  background-color: purple;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 3px;
  width: 190px;
  height: 40px;
  text-align: center;
}
.mobile-links li {

    list-style: none;
}
.mobile-links button{
padding: 10px 15px; 
  border: none;
  background: none;
  transition: all 0.2s ease;
  border-radius: 10px;
}

.mobile-links button:hover{
 background-color: purple;
  color: rgb(245, 39, 245);
  box-shadow: 0 4px 6px rgba(0,0,0,0.2); 
  transform: scale(1.03); 
  transition: all 0.2s ease;
  
}
.mobile-links{
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 1rem;
}

}

